@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    min-height: 100vh;
    background-color: #080808;
    background-size: cover;
    background-position: center;
    color: white;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: linear-gradient (135deg, rgba(230, 11, 153, 0.1), rgba(169, 10, 242, 0));
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

.logo span {
    color: #6b51ca;
}

.navbar a {
    position: relative;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-family: "Space Grotesk", sans-serif;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #6b51ca;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}


.title {
    text-align: left;
    font-size: 25px;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 50px;
    padding-top: 50px;
}

.title span {
    color: #6b51ca;
}


/*---- web presentation -----*/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    gap: 20px;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
}

.projects-grid h1 {
    font-family: "Space Grotesk", sans-serif;
    display: inline;
    position: relative;
    top: -150px;
    left: 790px;
    text-align: center;
}

.container {
    margin: .5em;
    position: relative;
    left: 50px;
    width: 550px;
    justify-content: space-between;
}

.container1 {
    width: 100%;
    background: #111;
    border: 0.5px solid #1e1e1e;
    border-radius: 16px;
    overflow: hidden;
    font-family: "Space Grotesk", sans-serif;
}

.container1:hover {
    border: 1px solid #6b51ca;
    transition: 0.5s;
}


.container1 p {
    font-size: 13px;
    color: #888;
    line-height: 1.7;
    font-weight: 300;
    text-align: left;
    margin: 40px;
}

.card-image {
    background: #F1EFE8;
    display: flex;
    align-items: center;
    justify-content: center;
}



.images {
    width: 100%;
    max-height: 180px;
    object-fit: fill;
}

.card-body {
    padding: 1.5rem;
}


.img-title {
    text-align: left;
    font-size: 25px;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    margin: 40px;
}

.img-description {
    font-size: 1.25em;
    margin: 0.25em;
}

.web-link {
    color: #fff5f5;
    font-family: Ubuntu;
    text-decoration: none;
}

.img-description a:hover::before {
    width: 100%;
}



.btn {
    font-size: 14px;
    size: 10px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    padding: 40px;
}

.btn a {
    color: #666;
    text-decoration: none;
}

.btn a:hover {
    color: #6b51ca;
    transition: 0.5s;
}


/*------footer------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    width: 100%;
    background-color: rgb(10, 10, 10);
    bottom: 0;
    left: 0;
    margin-top: 50px;

}

footer p {
    font-weight: lighter;
}


/*----- media screen------*/
@media (max-width:830px) {

    .container1 {
        width: 100%;
        background: #111;
        border: 0.5px solid #1e1e1e;
        border-radius: 16px;
        overflow: hidden;
        font-family: "Space Grotesk", sans-serif;
    }

    .btn {
        font-size: 14px;
        size: 10px;
        border: 1px solid transparent;
        background-color: transparent;
        cursor: pointer;
        padding: 40px;
    }

}

/* Custom scrollbar styles */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6b51ca;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color when hovering */
}